html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



/* HEADER */
header {
  width: 100wv;
  min-width: 500px;
  margin: 0 auto;
  height: auto;
  position: relative;
  padding: 10px;
  color: #313131; 
}

nav {
  margin: 0 auto;
  height: auto;
  
}

/* LISTS */

ul {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
 
  
}

li {
  display: inline;
  cursor: pointer;
}

.listCountries {
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.listCities {
  padding: 20px;
  display: block;
  border-bottom: 1px solid grey;
}



#viewVisitedCities {
  position: absolute; 
  right: 0;
  color: #313131;
  background-color: transparent;
}



/* INFO CONTAINER */

#container {
  width: 80%;
  height: 400px;
  border: 1px solid grey;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

#cityName {
  text-align: center;
}

p {
  margin: 40px;
}


/* BUTTONS */
button {
  margin: 20px;
  border: none;
  cursor: pointer;
}


.view-city-btn {
  position: relative;
  margin: 20px;
}

/* SPARADE STÄDER */ 

#savedCities {
  display: none;
}
.saved-cities{
  margin: 30px;
}

